.section-wrapper {
    overflow: scroll;
    flex-wrap: nowrap !important;
    /*position: fixed;*/
    top: 80px;
    background-color: #EEF2F4;
}

.section-col {
    min-width: 200px;
    max-height: 120px;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    text-align: center;
    min-height: 100%;
    border-right: 1px solid #ccc;
    position: relative;
    top: -10px;
}