.root-title {
    width: 100%;
    height: 40px;
}

.root-controls {
    width: 100%;
    height: 40px;
}

.root-grid {
    height: 700px;
    width: 100%;
    margin:0 !important;
    padding: 0 !important;
}